---
// 组件不需要任何 JavaScript 逻辑，所以这里只需要定义静态部分
---

<header>
  <nav>
    <ul>
      <li><a href="/">首页</a></li>
      <li><a href="/album">专辑</a></li>
      <li><a href="/video">视频</a></li>
      <li><a href="/about">个人介绍</a></li>
    </ul>
  </nav>
</header>
