---
// 组件不需要任何 JavaScript 逻辑，所以这里只需要定义静态部分
---

<header>
  <h1><span>ChaCha Photo</span></h1>
  <nav>
    <ul>
      <li><a href="/">画廊</a></li>
      <li><a href="/album">专辑</a></li>
      <li><a href="/video">视频</a></li>
      <li><a href="/about">关于</a></li>
    </ul>
  </nav>
</header>
